@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

:root {
  --main-color: #041a34;
  --second-color: #27aef3;
  --white-color: #ffffff;
  --font-regular: 400;
  --font-bold: 600;
  --font-black: 700;
  --gradietn: linear-gradient(20deg, var(--main-color), var(--second-color));
}

*,
*::after,
*::before {
  outline: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: var(--font-regular);
  outline: none;
}

html {
  scroll-behavior: smooth;
}

header {
  min-height: 100vh;
  background: radial-gradient(ellipse, rgba(39, 174, 243, 0.5), rgba(4, 26, 52, 1) 92%),
    url(https://images.pexels.com/photos/681347/pexels-photo-681347.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar {
  background-color: rgba(4, 26, 52, 0);
  padding-top: 2rem;
}

.navbar .navbar-brand {
  transition: all 0.3s ease-in-out;
}

.navbar .navbar-brand:hover {
  margin-left: 1rem;
  transition: all 0.3s ease-in-out;
}

.navbar .navbar-brand img {
  height: 4rem;
  max-height: 4rem;
}

.navbar .navbar-end .navbar-item,
.navbar .navbar-end .navbar-link {
  color: var(--white-color);
  font-weight: var(--font-regular);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  line-height: 1rem;
  border: 2px solid transparent;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}

.navbar .navbar-end,
.navbar .navbar-menu,
.navbar .navbar-start {
  align-items: center;
}

.navbar .navbar-end .navbar-link.is-active,
.navbar .navbar-end .navbar-link:focus,
.navbar .navbar-end .navbar-link:focus-within,
.navbar .navbar-end .navbar-link:hover,
.navbar .navbar-end a.navbar-item.is-active,
.navbar .navbar-end a.navbar-item:focus,
.navbar .navbar-end a.navbar-item:focus-within,
.navbar .navbar-end a.navbar-item:hover {
  background-color: transparent;
  border: 2px solid var(--white-color);
  transition: all 0.3s ease-in-out;
}

.hero.is-light {
  background-color: #f6f6f6;
}

header .title {
  font-weight: var(--font-black);
  font-size: 4rem !important;
}

header .subtitle {
  margin: 1rem 10% !important;
  font-size: 1rem;
}

#section-offer .card {
  box-shadow: none;
  background-color: transparent;
}

#section-offer .card .title {
  color: #ca0034;
  font-size: 1.5rem;
  font-weight: var(--font-bold);
  line-height: 2.5rem;
  letter-spacing: -1px;
}

#section-offer .card .subtitle {
  color: #5e6372;
  font-size: 0.9rem;
  font-weight: var(--font-regular);
  line-height: 1.2rem;
}

.is-horizontal-center {
  justify-content: center;
}

.btn-special {
  color: var(--second-color) !important;
  font-size: 1.5rem;
  border-radius: 3rem;
  padding: 1rem 4rem;
  font-weight: var(--font-black);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.09), 0 6px 6px rgba(0, 0, 0, 0.03);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#section-about .container.is-full {
  padding-left: 0;
  padding-right: 0;
}
